<%= form_for(@bdc) do |f| %>
  <% if @bdc.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@bdc.errors.count, "error") %> prohibited this bdc from being saved:</h2>

      <ul>
      <% @bdc.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
